* {
  margin: 0;
  padding: 0;
}

/* Main grid/body styling */

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
  color: white;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-weight: 700;
}

.board-bg {
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.652);
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  user-select: none;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.652);
  border-radius: 5px;
}

.board-item>span {
  transition: 0.3s ease;
}

.board-item:hover {
  cursor: pointer;
}

.reset {
  width: 200px;
  height: auto;
}

/* Overlaid SVG styling */

section:nth-child(1) {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section>svg {
  margin-bottom: 110px;
}

.key-anim1 {
  animation: Drawpath 0.5s ease-in-out forwards;
  stroke-dasharray: 0, 100;
}

.hidden {
  opacity: 0;
}

@keyframes Drawpath {
  from {
    opacity: 0;
    stroke-dasharray: 0, 100;
  }

  to {
    opacity: 100;
    stroke-dasharray: 100, 100;
  }
}

/* AI + Reset buttons */

.wrapper {
  margin-top: 20px;
  display: inline-flex;
  list-style: none;
  color: black;
}

.wrapper .icon {
  z-index: 2;
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: rgb(105, 149, 171);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.reset>img {
  width: 25px;
}

/* Fade-in + fade-out to be applied across the board */

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
