* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14bdac;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.board-bg {
  width: 500px;
  height: 500px;
  background: #14bdac;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.board-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  user-select: none;
  background: black;
}

.board-item:hover {
  cursor: pointer;
}

/* Fade-in + fade-out to be applied across the board */

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
